<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzap</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet" />

    <!-- Fonts awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />

    <!-- style -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <!-- Main -->
    <main>
      <div id="app">
        <div class="container flex">
          <!-- Left-block -->
          <section class="left-block">
            <!-- Header-left-block -->
            <header class="header-block flex space-between">
              <!-- Header-profile -->
              <div class="header-profile">
                <img class="avatar" src="img/avatar_io.jpg" alt="" />
              </div>
              <!-- /Header-profile -->

              <!-- Header-list -->
              <div class="header-list">
                <ul class="list-flex">
                  <li>
                    <a href=""><i class="fa-solid fa-circle-notch"></i></a>
                  </li>
                  <li>
                    <a href=""><i class="fa-solid fa-message"></i></a>
                  </li>
                  <li>
                    <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>
                  </li>
                </ul>
              </div>
              <!-- /Header-list -->
            </header>
            <!-- /Header-left-block -->

            <!-- Notification -->
            <div class="notification flex space-between">
              <!-- Mute -->
              <div class="mute flex">
                <a href=""><i class="fa-regular fa-bell-slash"></i></a>
              </div>
              <!-- /Mute -->

              <!-- Notification Text -->
              <div class="notification-text">
                <h3>Ricevi notifiche di nuovi messaggi</h3>
                <a href="">Attiva notifiche desktop</a>
              </div>
              <!-- /Notification Text -->
            </div>
            <!-- /Notification -->

            <!-- Search -->
            <div class="search-box flex">
              <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
              <div class="input-search">
                <input
                  type="search"
                  class="search"
                  placeholder="Cerca o inizia una nuova chat"
                  v-model.trim="userSearch" 
                  @keyup="searchContact"
                  />
              </div>
            </div>
            <!-- /Search -->

            <!-- Contacts -->
            <div 
            class="contacts">

              <!-- Contacts Card -->
              <div class="contacts-card flex" 
              v-for="(contact, index) in contacts" 
              :key="index"
              @click="showCurChat(contact, index)"
              v-show="contact.visible"
              >
                <div class="avatar-card">
                  <img 
                  class="avatar" 
                  :src="`img/avatar${contact.avatar}.jpg`" 
                  :alt="`Avatar: ${contact.name}`" 
                  />
                </div>

                <div class="text-card">
                  <h3>{{ contacts[index].name }}</h3>
                  <p>{{ troncateMessage(contact.messages[contact.messages.length - 1].message) }}</p>
                </div>

                <div class="time">
                  <span>16:15</span>
                </div>
              </div>
              <!-- /Contacts Card -->

            </div>
            <!-- /Contacts -->
          </section>
          <!-- /Left-block -->

          <!-- Right-block -->
          <section class="right-block">
            <!-- Header Right block -->
            <header class="header-block border-left flex">
              <!-- Header Profile -->
              <div class="header-profile-right">
                <img class="avatar" 
                :src="`img/avatar${contacts[indexChat].avatar}.jpg`" 
                :alt="`Avatar: ${contacts[indexChat].name}`" />
              </div>
              <!-- /Header Profile -->

              <!-- Header profile text -->
              <div class="header-profile-text">
                <h3 class="name">{{ contacts[indexChat].name }}</h3>
                <p class="access">Ultimo accesso oggi alle 16:26</p>
              </div>
              <!-- /Header profile text -->

              <!-- Header-list-right -->
              <div class="header-list right-list">
                <ul class="list-flex">
                  <li>
                    <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                  </li>
                  <li>
                    <a href=""><i class="fa-solid fa-paperclip"></i></a>
                  </li>
                  <li>
                    <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>
                  </li>
                </ul>
              </div>
              <!-- /Header-list-right -->
            </header>
            <!-- /Header Right block -->

            <!-- Chat-container -->
            <div 
            class="chat-container">

              <div 
              class="message-row"
              :class="chat.status"
              v-for="(chat, index) in contacts[indexChat].messages"
              :key="chat.date"
              >
                <div 
                class="message-box"
                :class="chat.status"
                >
                  <div class="message-text">
                    <p class="message">
                      {{ chat.message }}
                    </p>
                  </div>

                  <div class="message-list">
                    <div class="chevron">
                      <i class="fa-solid fa-chevron-down"></i>
                      <div class="chevron-hide-list">
                        <ul>
                          <button>Info messaggi</button>
                          <button 
                          @click="clearMessage(contacts[indexChat].messages, index)">
                            Cancella messaggio
                          </button>
                        </ul>
                      </div>
                    </div>

                    <p class="time-message">{{ dateToHourMin(chat.date) }}</p>
                  </div>
                </div>
              </div>

            </div>
            <!-- /Chat-container -->

            <!-- Footer right block -->
            <footer class="flex">
              <!-- emoji -->
              <div class="emoji flex">
                <a href=""><i class="fa-regular fa-face-smile"></i></a>
              </div>
              <!-- /emoji -->

              <!-- footer text -->
              <div class="text-area-footer">
                <label for="chat-input"></label>
                <input
                v-model="userMessage"
                id="chat-input" 
                type="text" 
                placeholder="Scrivi un messaggio" 
                @keyup.enter="sendMessage"
                />
              </div>
              <!-- /footer text -->

              <!-- vocals -->
              <div class="vocals flex">
                <a href=""><i class="fa-solid fa-microphone"></i></a>
              </div>
              <!-- /vocals -->
            </footer>
            <!-- /Footer right block -->
          </section>
          <!-- /Right-block -->
        </div>
      </div>
    </main>
    <!-- /Main -->

    <!-- Luxon -->
    <script 
      src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js">
    </script>


    <!-- my-script -->
    <script src="js/script.js"></script>
  </body>
</html>
